{% extends "base.html" %}
{% block content %}
{% load static %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #c9d6ff;
            background: linear-gradient(to right, #e2e2e2, #c9d6ff);
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        h2 {
            margin-top: 0;
            color: #333;
        }
        label {
            font-weight: bold;
        }
        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        textarea {
            resize: vertical;
            height: 150px;
        }
        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button[type="submit"]:hover {
            background-color: #45a049;
        }
        .footer {
            width: 100%;
            background-color: #4a5e57;
            bottom: 0;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        h2{
            color: #4a5e57;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: 'Baloo Tamma', cursive;
            transition: 4s;
            text-align: center;
            text-shadow: -1px -1px 0px #d7dfee,
              1px 1px 0px #d7dfee,
              2px 2px 0px #00000055;
        }
    </style>
    <body>
        <br>
        <div class="container">
            <h2>Edit Post</h2>
            <form method="post">
                {% csrf_token %}
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" value="{{ post.title }}" required><br><br>
                <label for="content">Content:</label><br>
                <textarea id="content" name="content" rows="5" required>{{ post.content }}</textarea><br><br>
                <button type="submit">Update Post</button>
            </form>
        </div>
        
        <footer style="margin-top: 100px;">
            <div class="footer">
            <div class="contain">
                <p>&copy; 2024 Created by Renuka. All rights reserved.</p>
            </div>
            </div>
        </footer>
    </body>
{% endblock content %}
